body{
    font-family: 'Open Sans', sans-serif !important;
    background-color: #fff !important;
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

.button {
    padding: 5px 20px 8px 20px !important;
    margin-bottom: 8px !important;
    box-shadow: 0 0 10px -10px #C4C4C4;
    transition: all 0.5s cubic-bezier(.56,-1.57,.35,2.57) !important;
}

.button:hover{
    position: relative;
    transform: translateY(-4px);
    box-shadow: 0px 10px 10px -5px #C4C4C4;
}

/* Header Content */
.navbar{
    padding-top: 20px !important;
    z-index: 1;
}

.nav-left img{
    width: 150px;
}

.btn-login {
    border: 1px solid #00B4D8 !important;
    background-color: #fff !important;
    color: #00B4D8 !important;
}

.btn-login:hover{
    background-color: #00B4D8 !important;
    color: #fff !important;
}

/* Banner Content */
.banner{
    height: 560px;
}

.banner-img{
    position: relative;    
    height: 100px;
    bottom: 250px;
    right: -250px;
}

.banner-text{
    position: absolute;
    padding: 125px 0;
}

.banner-text h1{
    font-size: 72px;
    font-weight: 900;
    color: #03045E;
}

.banner-text p {
    color: #00B4D8;
    font-size: 20px;
    padding-bottom: 20px;
}

.cari-data{
    background-color: #CAF0F8 !important;
    color: #00B4D8 !important;
}

/* Feature Content */
.feature{
    position: relative;
    text-align: center;
}

.bg-feature{  
    position: relative;
    bottom: 50px;
    z-index: -1;
}

.bg-feature img{
    width: 1270px;
}

.features{
    position: absolute;
    top: 100px;
    max-width: 1115px;
}

.features-item{
    padding: 0 140px;
}

.feature h2{
    margin-bottom: 80px;
    color: #03045E;
}

.feature-img img{
    height: 110px !important;
    transition: all 0.5s cubic-bezier(.56,-1.57,.35,2.57) !important;
}   

.feature-img img:hover{
    position: relative;
    transform: translateY(-6px);
    transition: all 0.5s cubic-bezier(.56,-1.57,.35,2.57) !important;
}

.feature-item h3{
    color: #03045E;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.feature-item p{
    color: #03045E;
}

/* Form Content */
.form{
    position: relative;
    text-align: center;
    height: 560px;
    z-index: 1;
}

.bg-form{
    position: relative;
    bottom: 80px;
}

.bg-form img{
    width: 100%;
    height: 800px;
}

.forms{
    position: absolute;
    top: 50px;
    max-width: 1115px;
}

.forms h2{
    margin-bottom: 80px;
    color: #03045E;
}

.form-item{  
    text-align: left;
    background-color: #fff;
    color: #00B4D8;
    margin: 0px 25px;
    width: 45% !important;
    padding: 20px 30px !important; 
    border-radius: 20px;
    box-shadow: 0 15px 10px -10px #C4C4C4;
}

.form-item h3{
    padding-bottom: 10px;
    font-size: 23px;
    font-weight: 800;
}

.form-item li{
    padding: 0 15px;
    font-size: 18px;
}

.form-item input{
    width: 100%;
    border: 1px solid #00B4D8;
    margin-bottom: 10px;
    padding: 5px 5px 5px !important;
    border-radius: 5px;
}

.form-item button{
    background-color: #CAF0F8;
    color: #00B4D8;
    width: 100%;
    margin-top: 10px;
}

.form-item button:hover{
    color: #00B4D8;
}

.form-list{
    padding: 10px 10px 0;
}

/* Footer Content */
footer{
    background-color: #03045E;
    color: #fff;
}

.footer-content{
    padding: 150px 100px 50px;
}

.footer-item img{
    width: 200px;
    margin-bottom: 30px;
}

.footer-item h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer-item p{
    font-size: 14px;
    margin: 0 auto;
}

.item-content{
    margin-bottom: 10px;
}

.copyright{
    padding: 20px 30px 30px;
    border-top: 1px solid #fff;
}